jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: echo "This is a build step"

  test:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: echo "This is a test step"

  integration:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          command: |
            echo "This is an integration step"
            exit 1
          when: on_fail

  prod:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: echo "This is a deploy step"

  artifact:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: echo "hello" > hello.txt
      - store_artifacts:
          path: hello.txt
          destination: artifact-file

workflows:
  version: 2
  django:
    jobs:
      - build:
          filters:
            branches:
              only:
                - main
      - test:
          requires:
            - build
          filters:
            branches:
              only:
                - main
      - integration:
          requires:
            - test
          filters:
            branches:
              only:
                - main
      - prod:
          requires:
            - integration
          filters:
            branches:
              only:
                - main
      - artifact:
          requires:
            - prod
          filters:
            branches:
              only:
                - main
